html {
  font-family: "Noto Sans", sans-serif;
}

i {
  font-family: "Noto Sans Japanese", sans-serif;
}

nav ul li a:hover {
  color: #860927;
}

.btn:hover {
  border-color: #b64c6e;
  color: #860927;
}

.border {
  border-top: 1px #e2e2e2;
  border-bottom: 1px #e2e2e2;
}

.btn-ghost {
  border-color: #d89fb0;
  color: #d89fb0;
  border-radius: 4px;
  border-width: 1px;
}

nav ul li a {
  text-decoration: none;
  color: #b64c6e;
}

footer {
  color: #e2e2e2;
}

@media only screen and (min-width: 60em) {

  .header-right {
    text-align: right;
  }

}
